* {
    margin: 0; 
    padding: 0;
    font-family: solano-gothic-pro-mvb, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    list-style: none;
}

/* background pic */
body {
    background-image: url(../img/bn.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* background pic */

/* Header */
header {
    width: 100%;
    background: rgba(10, 10, 10, 0.432);
    height: 15vh;
}

.logo {
    display: flex;
    justify-content:center;
}
.logo .size {
    width: 124px;
}

.navbar{
    padding-right: 2vw;
    z-index: 1000;
}

.navbar li{
    margin-left:50px;
    font-size: 22px;
}

.navbar-nav a{
    color: beige;
}

.navbar-dark a:hover {
    color: #e23652;
}

a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

hr {
    position: relative;
    margin: auto;
    opacity: 75%;
    width: 39vw;
    border: solid;
    color: #f12a4e;
    border-radius: 10px;
    bottom: 10px;
}

/* Header */

/* Iframe */

.home__iframe{
    display: grid;
    grid-template-columns: auto;
    height: 79%;
}

.home__iframe--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.video{
    box-shadow: 0px 0px 200px -90px #ffffff,0px 5px 90px 0px #e23652;
    width: 500px;
    height: 337px;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.box{
    background-color: beige;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
    border-radius: 10px;
    padding: 1vh 2vw;
    border: none;
    cursor: pointer;
}

.container .box:hover{
    background-color: #e23652;
    border: none;
}

.container .box:active{
    background-color: #e23652;
}

.socials {
    display: flex;
    justify-content: center;
    padding-top: 0.6vw;
}

.socials a img{
    margin-left: 0.5vw;
    cursor: pointer;
}

.socials img{
    width: 37px;
}

footer{
    width: 100%;
    height: 6vh;
    background: rgba(255, 66, 98, 0.274);
    position: absolute;
    bottom: 0;
}

/* animation */
.animate__animated, .animate__fadeIn{
    animation-duration: 3s;
    animation-delay: 0.5s;
}
/* animation */

/* Videos */ /* Videos */ /* Videos */ /* Videos */ /* Videos */ 
/* Videos */ /* Videos */ /* Videos */ /* Videos */ /* Videos */ 

.home__videos{
    display: grid;
    grid-template-columns: auto;
    height: 79%;
}
.home__videos--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container--title h1{
    background-color: #e23652;
    width: 85px;
    text-align: center;
    border-radius: 10px;
    height: 45px;
    opacity: 85%;
}
.container--title{
    padding-bottom: 5vh;
}

.container--iframes iframe{
    width: 7vw;
    height: 51vh;
    margin: 15px;
}

.container--iframes iframe{
    transition: transform .5s, filter 2.0s ease-in-out;
    filter: grayscale(100%);
}

.container--iframes iframe:hover{
    width: 30vw;
    transform: scale(1.2);
    filter: grayscale(0);
    transition: .6s ease;
    z-index: 1;
}

.container--bg{
    box-shadow: -16px -10px 0px 0px #e23652;
}



/* Miembros *//* Miembros *//* Miembros *//* Miembros *//* Miembros */
/* Miembros *//* Miembros *//* Miembros *//* Miembros *//* Miembros */

.home__members{
    display: grid;
    grid-template-columns: auto;
    height: 79%;
}

.home__members--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}
.members{
    padding-bottom: 6vh;
}
.members h1{
    background-color: #e23652;
    width: 110px;
    text-align: center;
    border-radius: 10px;
    height: 43px;
    opacity: 90%;
}

.gallery img{
    width: 15vw;
    margin: 1.5vw;
}

.gallery__bg{
    box-shadow: -20px -18px 0px 0px #e23652;
    border-radius: 10px;
}


.gallery img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.gallery img:hover{
    transform: scale(1.2);
    transition: .2s ease;
    filter: grayscale(0);
}


/* Galeria */ /* Galeria *//* Galeria *//* Galeria *//* Galeria */
/* Galeria */ /* Galeria *//* Galeria *//* Galeria *//* Galeria */

.carousel{
    width: 23vw;
    margin: auto;
    margin-top: 50px;
    box-shadow: -18px -15px 2px 2px #e23652;
}

.carousel-caption{
    padding-top: 1vh;
    padding-right: 1vw;
    background-color: #0a0a0a91;
    opacity: 80%;
}
.carousel-caption h5, p{
    color: beige;
    font-size: 25px;
}

/* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO */
/* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO */

.home__form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76%;
}

.home__form label{
    display: flex;
    justify-content: center;
}
.form--bg{
    background-color: beige;
    padding: 60px;
    border-radius: 10px;
    box-shadow: -18px -15px 0px 2px #c036e2;;
}

.form--btn{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.form-control{
    border-color: #c036e2;
}
.form-group label{
    margin: 13px;
}
.btn{
    background-color: #e23652;
}

.form-control{
    width: 26vw;
}

.contact__title h1{
    background-color: #e23652;
    border-radius: 10px;
    width: 5vw;
    box-shadow: 4px 6px 0px 0px rgb(134, 59, 134);
    text-align: center;
}
.contact__title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contact__title h1{
    font-size: 30px;
}

/* Mqs */ /* Mqs */ /* Mqs */
/* Mqs */ /* Mqs */ /* Mqs */

/* Tablet */
@media (min-width: 576px) and (max-width: 992px){
    .video{
        width: 450px;
        height: 250px;
    }
    .socials img{
        width:26px;
        display: flex;
        align-items: center;
    }
    footer{
        height: 7vh;
    }
    hr{
        display: none;
    }
    header {
        height: 12vh;
    }
    .logo .size {
        width: 90px;
    }
    .home__iframe{
        padding-top: 3vh;
    }
    /* videos */
    .container--iframes iframe:hover{
        width: 20vw;
        transform: scale(1.2);
        filter: grayscale(0);
        transition: .6s ease;
        z-index: 1;
    }
    .container--iframes iframe{
        height: 41vh;
    }
    /* videos */
    
    /* miembros */
    .members{
        padding-bottom: 4vh;
        padding-top: 10vh;
    }
    /* miembros */
    /* contacto */
    .cinfo{
        position: absolute;
        padding: 1vh 3vw;
        left: 28vw;
        top: 25vh;
    }
    .cinfo img{
        margin-right: 4vw;
    }
    
    .cinfo .ubicacion{
        display: inline-block;
        position: relative;
        bottom: 5vh;
    }
    
    .cinfo .phone{
        display: inline-block;
        position: relative;
        bottom: 5vh;
    }
    
    .cinfo .cubemail{
        display: inline-block;
        position: relative;
        bottom: 5vh;
    }
    fieldset{
        margin-left: 40vh;
        margin-top: 14vh;
        padding: 4vh 10vw 17vh 15vw;
    }
    .contact__title{
        top:31vh;
        left: 75vw;
        width: 9vw;
    }
    
    .contact__title h1{
        font-size: 20px;
    }
}
    /* tablet */

/* mobile */
@media (max-width: 576px) {
    /* inicio */
    .video{
        width: 350px;
        height: 300px;
    }
    hr{
        display: none;
    }
    .socials img{
        width:36px;
        display: flex;
        align-items: center;
    }
    footer{
        height: 7vh;
    } 
    header {
        height: 10vh;
    }
    .logo .size {
        width: 110px;
    }
    .home__iframe{
        padding-top: 3vh;
    }
    /* inicio */
    
    /* videos */
    .home__videos{
        padding-top: 5vh;
    }
    .container--iframes iframe{
        height: 40vh;
        width: 8vw;
    }
    .container--iframes iframe:hover{
        width: 10vw;
        transition: .6s ease;
        z-index: 1;
    }
    /* videos */
    /* miembros */
    .gallery img{
        margin: 15px;
        width: 127px;
    }
    .gallery{
        padding-left: 5px;
    }
    .home__members--flex{
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        padding-top: 12vh;
        padding-left: 1.2vh;
    }
    /* miembros */
    /* Galeria */
    .carousel{
        padding-top: 21vh;
        margin-top: 50px;
    }
    /* galeria */
    /* contacto */
    .home__form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 76%;
    }
    
    .home__form label{
        display: flex;
        justify-content: center;
        height: 5px;
    }
    .form--bg{
        background-color: beige;
        padding: 40px;
        border-radius: 10px;
        box-shadow: -18px -15px 0px 2px #c036e2;;
    }
    
    
    .contact__title h1{
        background-color: #e23652;
        border-radius: 10px;
        width: 15vw;
        box-shadow: 4px 6px 0px 0px rgb(134, 59, 134);
        text-align: center;
    }
    .contact__title{
        display: flex;
        justify-content: center;
        margin-bottom: 3px;
    }
    
    .contact__title h1{
        font-size: 25px;
    }
}