header {
    width: 100%;
    background: rgba(10, 10, 10, 0.432);
    height: 15vh;
    & .logo{
        display: flex;
        justify-content:center;
        .size{
            width: 124px;
        }
    }
    & .navbar{
        padding-right: 2vw;
        z-index: 1000;
        li {
            margin-left:50px;
            font-size: 22px;
        }
        .navbar-nav{
            a{
                color: beige;
                &:hover{
                    color: $accentcolor;
                }
            }
        }
    }
    & a{
        list-style-type: none;
        text-decoration: none;
        color: inherit;
    }
    hr {
        position: relative;
        margin: auto;
        opacity: 75%;
        width: 39vw;
        border: solid;
        color: $accentcolor;
        border-radius: 10px;
        bottom: 10px;
    }
}
footer{
    width: 100%;
    height: 6vh;
    background: rgba(255, 66, 98, 0.274);
    position: absolute;
    bottom: 0;
    & .socials{
        display: flex;
        justify-content: center;
        padding-top: 0.6vw;
        & a{
            img{
                margin-left: 0.5vw;
                cursor: pointer;
                width: 37px;
            }
        }
    }
}


